In [2]:
import pandas as pd

# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoBuch.sample(n=5)

       nbSyll            pron origin warning remarques POS  lineId  pageId
7482        1            jŭſt     L.     NaN       NaN  n.    28.0     125
12045       4    sărcăʹſtĭcal    NaN     NaN       NaN  a.    16.0     189
2246        4  cĭʹrcŭmſtănces    NaN     NaN       NaN  n.    56.0      50
515         3       ăʹnnăliſt    NaN     NaN       NaN  n.    49.0      26
15466       1            weal    NaN     NaN       NaN  n.    64.0     236

In [4]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/Buchanan_PronChar_counts.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoPronChar = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoPronChar.sample(n=5)

   char   occ graph
9     i  3783     i
67    ;     3   NaN
17    _  4124   NaN
66    ó     1     o
22    r  9245     r

In [26]:
dfDicoPronChar = dfDicoPronChar.dropna()

In [31]:
def sampa2ipa(strSampa, dfMapping):
    ipaRes = ""
    
    #print(listValSampa)
    for valSampa in strSampa:
        dfRowFinded = dfMapping[dfMapping['char']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=str(dfRowFinded.iloc[0]['graph'])
        else:
            ipaRes+=''
    return ipaRes

In [34]:
dfDicoBigiRich = dfDicoBuch.sample(n=100).copy()

dfDicoBuch['headword'] = dfDicoBuch.apply(lambda x: sampa2ipa(x['pron'], dfDicoPronChar),1)

In [37]:
dfDicoBuch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,headword
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica