# DicoCo

*prenom NOM*

In [70]:
import re

In [5]:
import pandas as pd

# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/1757_Buchanan-J.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoBuch = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoBuch.sample(n=5)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId
219,3,ădvȯẇſon,NaN,nbSyll>1 et pas d'accent tonic,NaN,n.,41.0,22
13233,2,suʹbjĕʹct,NaN,NaN,NaN,v.,50.0,205
14010,2,trāʹd_e_ſman,NaN,NaN,NaN,n.,39.0,216
12733,5,foʹlĭfĭdĭans,L.,NaN,NaN,n.,56.0,198
2837,4,convĕʹxĭty,L.,NaN,NaN,n.,2.0,59

In [6]:
# préciser le chemin du fichier à lire
cheminDuFichierCSV = "./../data/dictionary/Buchanan_PronChar_counts.csv" 

# demander à pandas de lire le fichier et garder ce tableau accessible dans une variable
dfDicoPronChar = pd.read_csv(cheminDuFichierCSV, delimiter=";", encoding="utf8")

# afficher à l'écran un échantillon du tableau
dfDicoPronChar.sample(n=5)

   char   occ graph
21    y  1952     y
10    ſ  4329     s
11    n  8612     n
22    r  9245     r
6     s  2935     s

In [7]:
dfDicoPronChar = dfDicoPronChar.dropna()

In [8]:
def sampa2ipa(strSampa, dfMapping):
    ipaRes = ""
    
    #print(listValSampa)
    for valSampa in strSampa:
        dfRowFinded = dfMapping[dfMapping['char']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=str(dfRowFinded.iloc[0]['graph'])
        else:
            ipaRes+=''
    return ipaRes

In [9]:
dfDicoBuch['headword'] = dfDicoBuch.apply(lambda x: sampa2ipa(x['pron'], dfDicoPronChar),1)

In [10]:
dfDicoBuch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,headword
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica

In [71]:
# import necessaire à la création des widgets
from IPython.display import display, clear_output, HTML, Markdown 
import ipywidgets as widgets

In [72]:
def filtDf(strHwd):    
    dfDicoBuchFiltered = dfDicoBuch[dfDicoBuch['headword'].str.contains(strHwd, na=False,flags=re.IGNORECASE, regex=True)]
    
    return dfDicoBuchFiltered

In [73]:
# definition du widget permettant de taper un texte 
textTarget = widgets.Text(
       value="love",
       description='filtre hwd',
       layout={'width': '300px'} )

In [102]:
# définition du widget button permettant de lancer l'extraction
button = widgets.Button(description='Démarrer')
c_slider = widgets.IntSlider(min=0, max=20, step=1, value=5, description='Max occ:')
# définition du widget permettant l'affichage d'une sortie
out1 = widgets.Output()
out2 = widgets.Output()
out3 = widgets.Output()

# spécifier les actions à réaliser lors de l'appui sur le bouton
def on_button_clicked(param=''):
    
    # récupérer le texte saisi par l'utilisateur
    targetWord = textTarget.value

    with out1:
        clear_output()
        
        urlLongman = "https://www.ldoceonline.com/dictionary/"
        urlTarget = urlLongman+targetWord
        display(HTML('<a href="'+urlTarget+'" target="_blank" >'+'longman : '+targetWord+'</a>'))

    with out2:
        clear_output()
        
        #display(display.Audio(url='https://www.ldoceonline.com/media/english/ameProns/love1.mp'))
        
    with out3:
        clear_output()
        
        display(filtDf(targetWord).head(c_slider.value))
        
        
button.on_click(on_button_clicked)

In [103]:
# les widgets de filtre input
vbFiltres = widgets.HBox([textTarget, button,c_slider])

# les widgets d'output
vbOuts = widgets.VBox([out1,out2, out3])

widgets.interactive(on_button_clicked)

hbAllWidgets = widgets.VBox([vbFiltres,vbOuts])
hbAllWidgets

VBox(children=(HBox(children=(Text(value='love', description='filtre hwd', layout=Layout(width='300px')), Butt…

In [83]:
c_slider.value

5

In [76]:
dfDicoBuch

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,headword
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica